@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Margarine&family=Poetsen+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Margarine", sans-serif;
}
:root{
    --primary-color: #0A0908;
    --secondary-color: #ffffff;
    --alt-color1: #2EC4B6;
    --alt-color2: #C6AC8F;
    --alt-color3: grey;
    --groupcolour: #f2f2f2;
    --manropefont: font-family: "Manrope", sans-serif;


}

nav{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: fixed;
    margin: auto;
    padding: 10px 20px;
    z-index: 12;
}
 nav h1 a{
    text-decoration: none;
    font-size: 50px;
    font-weight: 900;
    color: var(--secondary-color);
 }

 nav .navigation ul{
    display: inline-flex;
    
 }
 nav .navigation ul li{
    margin-left: 7px;
    list-style: none;
    
 }
 nav .navigation ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    
 }
 nav .navigation ul li a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    border: 2px solid var(--alt-color1);
    

 }
 
 .main{
    position: absolute;
    top: 52%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
    display: grid;
    justify-items: center;
 
  
 }
 .img{
    background: url(./assets/mainbackground.jpeg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: background-position o.3s ease;
 }
 
 .img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
 }
.main h1{
    font-size: 55px;
    font-weight: 600;
    color: var(--secondary-color);
    
}
.main h2{
    font-size: 30px;
    font-weight: 600;
    color: var(--secondary-color);
}

 .main h1{
    text-align: center;
 }




 .about
 {
    
    display: grid;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    padding: 30px;
    height: 100%;
    overflow: hidden;

 }
 .about h2{
    color: var(--secondary-color);
    font-size: 48px;

    
 }
.about .details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    color: var(--alt-color2);
    font-size: 20px
}
.about .details .p1{
    margin-right: 10px;
}
.about .details .p2{
    margin-left: 10px;
}
.main .btn{
    margin-top: 20px;

}
.main .btn button{
   
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    background: none;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    border: 2px solid var(--secondary-color);
    /*padding: 0 10px;*/
    outline: none;
    transition: all 0.3s ease;

}
.main .btn button:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}
html body .spaces{
    display: grid;
    height: 100%;
    place-items: center;
    justify-content: center;
    background: var(--secondary-color);
}

.spaces h2{
    font-size: 48px;
    color: var(--primary-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    justify-content: center; 
    padding: 20px;
}

.container .box {
    margin: 10px; 
    background: var(--groupcolour);
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
}

.group {
    display: grid;
    justify-content: center;
    align-items: center;
}



.box .housename{
    margin: 10px 0 3px 0;
    color :var(--primary-color);
    font-size: 18px;
    font-weight: 600px;
}

.box .houseimg{
    min-height: 200px;
    width: 100%;
    
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.box .houseimg img{
    height: 100%;
    width: 150px;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid var(--secondary-color);
    margin: 10px;
}

.housename{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.price{
    font-size: 25px;
    text-align: center;
}
.houseinfo ul{
    list-style: none;
    padding: 0;
}
.houseinfo ul li{
    position: relative;
    padding-left: 20px;

    margin-bottom:  5px;
}
.houseinfo ul li::before{
    content: "\2713";
    position: absolute;
    left: 0;
    color: var(--primary-color);
}
.choosebtn{
    background: var(--alt-color1);
    height: 40px;
    display: grid;
    justify-content: center;
    width: 150px;
    border-radius: 5px;
    border: 2px solid var(--alt-color1);
    margin-top: 20px;
}
.choosebtn button{
    border: none;
    outline: none;
    cursor: pointer;
    background: none; 
    transition: all 0.3s ease;  
}

.choosebtn:hover{
    background-color: var(--primary-color);   

}

.choosebtn button:hover{
    color: var(--secondary-color);

}

.amenities{
    display: grid;
    justify-content: space-between;
    align-items: center;
}



.contactsection{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    flex-direction: column;
    background: url(./assets/contact.jpeg);
    background-size:cover ;

}

.contactsection .title{
    font-size: 48px;
    color: var(--secondary-color);
    margin-bottom: 30px;
    font-weight: 600;

}

.socials{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socials .socialsbox{
    color: var(--secondary-color);
   
    border-radius: 5px;
}

.socials .socialsbox .text{
    padding: 20px 0;
    display: grid;
   font-size: 16px;
   font-weight: 300;
}

.socials .socialsbox .text h3{
    color: var(--alt-color1);
}




.form{
   width: 50%;
   padding: 40px;
   background: var(--secondary-color);
   border-radius: 10px;
}
form h3{
    font-size: 30px;
    font-weight: 500;
    color: var(--primary-color);
}

form .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

form .inputbox input
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid var(--alt-color2);
    border-radius: 5px;
    outline: none;
    resize: none;
}
form .inputbox textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid var(--alt-color2);
    border-radius: 5px;
    outline: none;
    resize: none;

}
form .inputbox span{
    position: absolute;
    

    left: 10px;
    top: 10px;;

    
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--alt-color2);

}

form .inputbox input:focus ~ span,
form .inputbox input:valid ~ span

{
    color: var(--alt-color1);
    font-size: 12px;
    transform: translateY(-20px);
}
form .inputbox textarea:focus ~ span,
form .inputbox textarea:valid ~ span{
    color: var(--alt-color1);
    font-size: 12px;
    transform: translateY(-20px);
}


.form .formbtn {
    display: grid;
    justify-content: center;
    align-items: center;
}
.form .formbtn button{
    background: var(--alt-color1);
    color: var(--secondary-color);
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
}

.form .formbtn button:hover{
    background: var(--primary-color);
    border-bottom: 2px solid var(--alt-color1);
    color: var(--secondary-color);

}



.allamenities ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.allamenities ul li{
    width: calc(50% - 20px);
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
}

.allamenities ul li::before{
    content: "\2713";
    position: absolute;
    left: 0;
    color: var(--alt-color1);
}




.amenitiestitle{
    display: grid;
    justify-content: center;
    width: 100%;
    background: var(--alt-color2);
    height: 60px;
}
.amenitiessection .amenitiestitle h3{
    font-size: 48px;
    margin-top: 30px;
   
    
}
.amenitiessection .wrapper{
    background-color: var(--alt-color2);
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: auto;
}

.amenitiessection .wrapper .properties {
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: auto; 
    padding: 0 10px; 
    width: 100%; 
    box-sizing: border-box; 
}

.card
{
    width: 50px;
    height: 75vh;
    border-radius: 75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: all 0.6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card .row{
    color: var(--secondary-color);
    display: flex;
    flex-wrap: nowrap;
}

.card .row .icon{
    color: var(--alt-color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.card .row .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;

}
.description p{
    color: var(--primary-color);
    padding-top: 5px;
}
.description h4{
    text-transform: uppercase;
}
.description .laundry, .Swimming, .parking, .water{
    color: var(--primary-color);
}
.properties input{
    display: none;
}
.properties input:checked + label{
    width: 600px;
}

.properties input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"]{
    background-image: url(./assets/wifi.jpg);
}
.card[for="c2"]{
    background-image: url(./assets/laundryalt.jpeg);
}
.card[for="c3"]{
    background-image: url(./assets/parking.jpeg);
}
.card[for="c4"]{
    background-image: url(./assets/elevatoralt.jpeg);
}
.card[for="c5"]{
    background-image: url(./assets/theatre.jpeg);
}
.card[for="c6"]{
    background-image: url(./assets/swimmingpool.jpeg);
}
.card[for="c7"]{
    background-image: url(./assets/gym.jpeg);
}
.card[for="c8"]{
    background-image: url(./assets/water.jpeg);
}

/*Responsive design*/
@media (max-width: 992px) {
    .container .box {
        width: calc(50% - 20px);
    }
    body nav h1 a{
        font-size: 30px;
    }
    nav .navigation ul li a {
        font-size : 15px;
    }
}

@media (max-width: 670px) {
    .container .box {
        width: calc(100% - 20px);
    }
    nav .navigation ul li a {
        font-size : 10px;
    }
    .socials {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .form{
        width :100%;
    }
    .contactsection .title{
        font-size: 30px;
    }
    .socialsbox {
        width : 100%;
    }
    .socialsbox .text h3 {
        text-align : center;

    }
    .socialsbox .text p{
        text-align: center;
        
    }

}
@media (max-width: 555px) {
    .container .box {
        width: calc(100% - 20px);
    }
    nav  {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    nav h1 {
        text-align: center;
    }
    .main h1 {
        font-size: 40px;
    }
    .main h2 {
        font-size: 17px;
    }

    .main .btn button{
        font-size: 13px;
    }
    .about h2 {
        font-size: 20px;
    }
    .details p {
        font-size: 10px;
    }
    .spaces h2{
        font-size: 25px;
    }
    .spaces .box {
        width: 80%;
    }
    .card{
        width : 25px;
    }


}
@media (max-width: 400px) {
    .container .box {
        width: calc(100% - 20px);
    }
    nav .navigation ul li a {
        font-size : 6px;
    }
    body nav h1 a{
        font-size: 20px;
    }
    .contactsection .title {
        font-size: 25px;
    }
}